[Desktop Entry]
Comment=Controls settings for cassowary
Encoding=UTF-8
Exec=python3 -m cassowary -a
GenericName=cassowary
Icon={icon}
Name[en_US]=Cassowary Linux
Name=Cassowary Linux
Categories=Utilities
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0